@font-face
  font-family: Whitney-Book
  src: url('../fonts/WHITNEY/Whitney-Book.otf') format("opentype")
  
@font-face
  font-family: Whitney-Light
  src: url('../fonts/WHITNEY/Whitney-Light.otf') format("opentype")
  
@font-face
  font-family: Whitney-Black
  src: url('../fonts/WHITNEY/Whitney-Black.otf') format("opentype")
  
@font-face
  font-family: Whitney-Medium
  src: url('../fonts/WHITNEY/Whitney-Medium.otf') format("opentype")
  
@font-face
  font-family: Whitney-Semibold
  src: url('../fonts/WHITNEY/Whitney-Semibold.otf') format("opentype")
  
@font-face
  font-family: DINOT-Cond
  src: url('../fonts/DINOT/DINOT-Cond.otf') format("opentype")
  
@font-face
  font-family: DINOT-CondBlack
  src: url('../fonts/DINOT/DINOT-CondBlack.otf') format("opentype")
  
@font-face
  font-family: DINOT-CondBold
  src: url('../fonts/DINOT/DINOT-CondBold.otf') format("opentype")
  
@font-face
  font-family: DINOT-CondLight
  src: url('../fonts/DINOT/DINOT-CondLight.otf') format("opentype")
  
@font-face
  font-family: DINOT-CondMedium
  src: url('../fonts/DINOT/DINOT-CondMedium.otf') format("opentype")

body
  font-family: Whitney-Light, Helvetica

.navbar
  border-bottom: 5px solid #67FA87
  
.c-logoimage
  margin-top: 15px
  margin-bottom: 15px
  margin-left: 0px
  background: url(../img/comporium_gold.png)
  background-repeat: no-repeat
  height: 45px
  padding-top: 0px
  
h1, h2, h3, h4, .h1, .h2, .h3, .h4
  font-family: DINOT-CondMedium, Helvetica
  font-weight: normal
  
h1 span
  font-family: DINOT-CondBlack, Helvetica
  font-weight: normal
  text-transform: uppercase
  
.c-sale-package-header, .c-sale-charges
  font-family: DINOT-CondBlack, Helvetica
  font-weight: normal
  
.c-tinyfont, .c-tell, .c-copyright
  font-size: 14px !important
  
.c-footer
  background: #3b3d41
  border-top: 2px solid #67FA87
  padding-bottom: 0px
  a
    color: #ffffff
    &:hover
      border-bottom: none
      text-decoration: none
      color: #67FA87
  .footerContainer
    margin: 0px !important
    max-width: none !important
    > div.row:first-child
      margin: 0px auto !important
      max-width: 1250px !important
      padding-bottom: 20px
    > div.row:nth-child(2)
      background-color: #000000
      > div.c-copyright
        margin: 0px auto !important
        border-top: 0px
        padding-bottom: 10px    
      
.btn-social-icon.btn-md
  color: #67FA87
  &:hover
    color: #ffffff

.c-edit-panel .text-left
  line-height: 60px

@media (max-width: 767px)
  .c-stored-card-wrapper .row
    margin-left: -15px
    margin-right: -15px

@media (max-width: 990px)
  .c-edit-panel .text-left
    line-height: 40px

.login-form-group
  margin-bottom: 0px    

.c-btn-primary
  border-radius: 2px
  background: #67FA87
  color: #000000
  
.c-btn-primary
  border: 1px solid #67FA87
  text-transform: uppercase
  font-size: inherit
  font-family: DINOT-CondBlack, Helvetica
  color: #000

.c-table .c-btn, .c-btn-primary, .btn-action, .btn-primary, .btn-primary
  background: #67FA87 !important

.c-table .c-btn:hover, .c-btn-primary:hover, .btn-action:hover, .btn-primary:focus, .btn-primary:active
  background: #67FA87
  border: 1px solid #398439

.btn-primary:hover
  background: #67FA87
  border: 1px solid #398439
  color: #000
  
.c-package-overview button
  background: #323232
 
.navbar
  margin-bottom: 0
  border: 0

  
.c-tell
  color: #67FA87 !important
  
.c-btn-disabled
  border-radius: 4px
  text-transform: capitalize
  text-align: center
  font-size: inherit
  text-shadow: none
  
.c-basket-summary
  a
    color: #67FA87
    &.gwt-Anchor
      color: #67FA87
      
.glyphicon-shopping-cart
  color: #67FA87 !important
  background: url(../img/cart-icon.png) no-repeat
  width: 20px
  height: 20px
  display: inline-block
  background-size: cover

.glyphicon-shopping-cart:before
  content: none !important

.c-search-box
  top: 56%
.c-search-box
  .gwt-Button
    background-color: #67FA87
  
.c-2ndmenu
  background: #059429
  min-height: 43px
.c-2ndmenu ul li a
  font-size: 16px
  font-family: DINOT-CondBlack, Helvetica
  color: #000000 !important
  letter-spacing: .3px
  &:hover
    background-color: transparent !important
    
.c-wide .navbar-collapse
  padding-left: 0 !important
  padding-right: 0 !important

.c-2ndmenu ul li a.c-current-APP-item:hover
  background-color: #67FA87 !important
  
.c-header-top
  .gwt-Button
    line-height: 44px
    text-transform: uppercase
    font-size: 14px
    background: #1C1D1F
    border-radius: 0
    padding-bottom: 43px
    font-family: DINOT-CondMedium, Helvetica
    letter-spacing: .3px
    
.c-header-top
  .gwt-Button
    &:hover
      background: #000
      color: #059429
      border-radius: 0
      padding-bottom: 43px
      line-height: 44px

.c-header-top
  .gwt-Button
    &.active
      color: #67FA87
      line-height: 44px
  
.c-basket-summary
  a
    &:hover span
      color: #67FA87 !important

.c-header-icon a.gwt-Anchor:hover span
  color: #67FA87 !important

.c-smarttable-search-btn
  .glyphicon
    color: #C2C2C2
    
.c-header-top-mainWrapper .glyphicon
  color: #C2C2C2 !important
  
.c-header-top-mainWrapper a:hover .glyphicon
  color: #67FA87 !important

.glyphicon
  font-size: 14px
  color: #cfcecf
    
.c-loading-progress
  background-color: #67FA87
  
.c-table .c-btn, .c-btn-primary, .btn-action
  border: 1px solid #67FA87
  padding: 7px 15px 4px 15px
  
.c-div-boot-button .btn-link
  color: #67FA87
  
.salesCatalougeRemoveLabel 
  color: #67FA87
  
.c-sales-package-btn-add
  text-align: center
  .gwt-Button
    background: #67FA87
  
.c-sales-package-btn-add
  text-align: center
  .gwt-Button
    border: 1px solid #67FA87
    &:hover
      background: #67FA87
      border: 1px solid #398439
      
.c-btn-remove
  color: #67FA87
  &:hover
    color: #67FA87
  
.c-red-link
  color: #67FA87
  
.c-search-box
  .gwt-Button
    &:hover
      background-color: #67FA87
      
.c-search-btn
  background: #67FA87
  &:active
    background: #67FA87
  .glyphicon
    color: #ffffff
    
.c-order-description .glyphicon  
  color: #67FA87
  
.gwt-Anchor span
  font-size: 14px
  color: #C2C2C2
  
.c-header-top
  .c-current-MAIN-item
    background: #000000
    border-radius: 0
    padding-bottom: 42px
    text-transform: uppercase
    color: #059429
    line-height: 44px
    font-size: 12px
    border-top: 2px solid #059429
    
  
.dialogTop
  background-color: #67FA87 !important
  
.confirmPanel
  border: 2px solid #67FA87 !important
  
.confirmPanel
  button
    background: #67FA87
    border: 1px solid #67FA87
  &:hover
    border: 1px solid #398439
  
.nav-tabs
  li
    a
      &:hover
        background: #67FA87
        color: #ffffff
        
.c-user-logo
  height: 24px
  display: inline-block
  span
    padding-left: 5px
  &:hover
    background: url(../img/user-logo-hover.png) no-repeat
    
.glyphicon-question-sign:before:hover, .glyphicon-bell:before:hover
  color: #67FA87
  
#accordion .panel-info > .panel-heading
  .panel-title h5
    font-family: DINOT-CondMedium, Helvetica
    font-weight: normal
    font-size: 24px
    
.questionPanel
  border: 0px !important
  .Caption
    font-family: DINOT-CondBlack, Helvetica
    font-weight: normal
  button.activeButton
    background: #67FA87  !important
    border: 1px solid #67FA87
    border-radius: 4px
    padding: 8px 15px
    min-width: inherit
      
.c-basket-charges .c-compact-text-left
  font-family: DINOT-CondMedium, Helvetica
  font-weight: normal
  font-size: 18px
  strong
    font-weight: normal
    
.c-account-overview-package-detail .nav > li
  font-family: DINOT-CondMedium, Helvetica
  font-weight: normal
  font-size: 16px

.service-sub-tabs > li.active .gwt-Anchor, .service-sub-tabs > li.active > a, .service-sub-tabs > li.active > a:hover, .service-sub-tabs > li.active > a:focus 
  color: #323232
  border-bottom: 3px solid #323232
  font-family: DINOT-CondMedium, Helvetica
  font-weight: normal
  font-size: 16px
  line-height: 1
  
a, .c-red-link, .c-btn-remove, .c-div-boot-button .btn-link
  color: #337ab7
  
.navbar-nav>li>a
  padding-top: 12px
  padding-bottom: 8px
  
.c-current-APP-item
  border-bottom: 3px solid #000 !important
  
.c-second-row-heading-logoArea
  max-height: 80px
  
.c-2ndmenu ul li a:hover
  color: #000000 !important
  border-bottom: 3px solid #000
  
.badge
  vertical-align: top
  padding: 2px 4px
  font-family: Whitney-Light, Helvetica
  
.c-overview-products-icon-remove-setting
  background: #67FA87
  background: -moz-linear-gradient(top, #67FA87 0, #67FA87 100%)
  background: -webkit-linear-gradient(top, #67FA87 0, #67FA87 100%)
  background: -o-linear-gradient(top, #67FA87 0, #67FA87 100%)
  background: -ms-linear-gradient(top, #67FA87 0, #67FA87 100%)
  background: linear-gradient(top, #67FA87 0, #67FA87 100%)
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$start',endColorstr='$end',GradientType=0)
  
  
 